<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Interactive Form with Dynamic Options</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/topsection.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/quick-order-form.css}">
</head>
<body>
<div th:fragment="order-view-block">

    <div class="order-block">
        <div class="order-header">
            <div style="font-weight: bold;">Name:
                <!--/*@thymesVar id="o" type="com.knkweb.yarnshop.domain.OrderHeader"*/-->
                <span th:text="${o.customer.customerName}">John Doe</span></div>
            <div style="font-weight: bold;">Order ID: #<span th:text="${o.id}">12345</span></div>
        </div>
        <br>
        <div class="order-body">
            <p>Ordered Date: <span o.createdDate>2023-10-07</span></p>
            <br>
            <p>Items Count: <span th:text="${#lists.size(o.orderLines)}">3</span></p>
            <p>Stage: <span th:text="${o.levels}">3</span> <span class="order-status"
                    th:text="${o.orderStatus}">"progress"</span></p>

        </div>
    </div>
</div>
</body>
</html>