<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>

    </style>
</head>
<body>

<div th:fragment="menubar-all">
    <ul class="menu-bar">
        <li><a href="#">Products</a></li>
        <li><a href="#">Contact</a></li>
        <div class="end-button">
            <a th:href="@{/homepage}" class="button-like-link">Sign In</a>
        </div>
    </ul>
</div>

<div th:fragment="menubar-customer">
    <ul class="menu-bar">
        <li><a href="#">Products</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#" th:href="@{/auth/orderslist}" >Orders</a></li>
        <li><a href="#">Settings</a></li>
        <div class="end-button"><span class="user-name" th:text="${username}"></span>
            <a th:href="@{/logout}" class="button-like-link">Sign Out</a>
        </div>
    </ul>
</div>

<div th:fragment="menubar-admin">
    <ul class="menu-bar">
        <li><a href="#">Products</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#" th:href="@{/auth/orderslist}" >Orders</a></li>
        <li><a href="#" th:href="@{/admin/quick-order}">Quick Order</a></li>
        <li><a href="#">Settings</a></li>
        <div class="end-button"><span class="user-name" th:text="${username}"></span>
            <a th:href="@{/logout}" class="button-like-link">Sign Out</a>
        </div>
    </ul>
</div>

</body>
</html>
