.customer-container{
    display: flex;
    justify-content: center;


}

/* Add boundaries and shadow to the customers elements */
.customers {
    background-color: #f9f9f9;
    width: 80%;
    border: 1px solid #ccc; /* Example border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Example shadow */
    padding: 10px; /* Adjust padding as needed */
    margin-bottom: 10px; /* Adjust margin as needed */
}

/* Make customer-existing scrollable */
.customer-existing {
    max-height: 600px; /* Example max height */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 10px; /* Add padding as needed */
}
.customer-button-link{
    display: inline-block;
    padding: 10px 20px;
    background-color: #0c92ec;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    margin-right: 10px; /* Add space between buttons */
}

/* Styles for the primary button */
.customer-button-link {
    background-color: #0c92ec;
}

.customer-button-link:hover {
    background-color: #0d42ec;
    transform: scale(1.05); /* Add a subtle hover effect */
}
/* Styles for the page-navigations div and its child elements */
.page-navigations {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* Add more styles as needed */
}

.page-navigations a {
    margin: 0 5px;
    color: #333;
    position: relative;
    /* Additional link styles */
}

.page-navigations a:hover::after {
    content: attr(data-tooltip); /* Display the attribute value as tooltip text */
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    color: #333;
    background-color: #fff;
    border-radius: 5px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.page-navigations a:hover::after {
    opacity: 1; /* Show the tooltip on hover */
}
