/*customer style*/
.customer-block {
    width: 90.66%;
    /*background-color: #f5f5f5; !* Dull background color *!*/
    margin-top: 10px ;
    margin-left: 40px ;
    margin-right: 10px ;
    /*border: 1px solid #ccc;*/
    box-shadow: 0 2px 4px rgba(123, 123, 123, 0.02);
    position: relative;
}
.customer-block-body {
    width: 90.66%;
    /*background-color: #f5f5f5; !* Dull background color *!*/
    margin-bottom: 20px ;
    margin-left: 40px ;
    margin-right: 10px ;
    /*background-color: rgba(204, 204, 204, 0.23);*/
    /*color: #111; !* Bright, creamy white text color *!*/
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    position: relative;
}

.customer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.customer-id-link{
    color: #111;
    text-decoration: none;
}


.customer-body-line1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.customer-body-line2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.button-link-customer-detail-view-link{
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    background-color: #5086b3;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    margin: 10px; /* Add space between buttons */
}
.button-link-customer-detail-view-link:hover {
    background-color: #0d42ec;
    transform: scale(1.05); /* Add a subtle hover effect */
}

.customer-body {
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.hidden{
    display: none;
}
.customer-details-section{
    background-color: #f0f0f0;
    color: #111; /* Bright, creamy white text color */
    margin: 30px;
    padding-top: 10px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.29);
}


/* orders style*/
/* Styles for the page-navigations div and its child elements */
.page-navigations {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* Add more styles as needed */
}

.page-navigations a {
    margin: 0 5px;
    color: #333;
    position: relative;
    /* Additional link styles */
}

.page-navigations a:hover::after {
    content: attr(data-tooltip); /* Display the attribute value as tooltip text */
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    color: #333;
    background-color: #fff;
    border-radius: 5px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.page-navigations a:hover::after {
    opacity: 1; /* Show the tooltip on hover */
}

