.order-block {
    width: 66.66%;
    background-color: #f5f5f5; /* Dull background color */
    margin: 10px auto;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}
.order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff; /* Bright, creamy white text color */
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.order-body {
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #333; /* Dark text color */
}
.toggle-items {
    cursor: pointer;
    background-color: #f0f0f0; /* Mild gray background color for the button */
    color: #333; /* Text color for the button */
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 1;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Shadow for the button */
    transition: background-color 0.3s; /* Smooth background color transition */
}
.toggle-items:before {
    content: "▼"; /* 'v' like symbol for the button */
    color: blue;
}
.toggle-items:active {
    background-color: #ddd; /* Background color when button is pressed */
}
.item-list {
    display: none;
    padding-left: 20px;
}
.order-status{

    color: #45a049; /* Text color for the button */
    padding: 5px;
    border: #555555;
    float: right;
    /*border-radius: 5px;*/
}
.view-details-button {
    float: right;
    top: 10px; /* Adjust the top position as needed */
    right: 10px; /* Adjust the right position as needed */
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.view-details-button:hover {
    background-color: #555;
}
/* CSS for the button-styled link */
/* Common styles for buttons */
.button-link,
.button-link-close {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5086b3;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    margin-right: 10px; /* Add space between buttons */
}

/* Styles for the primary button */
.button-link {
    background-color: #5086b3;
}

.button-link:hover {
    background-color: #555;
    transform: scale(1.05); /* Add a subtle hover effect */
}

/* Styles for the secondary button (close) */
.button-link-close {
    background-color: #0c92ec;
}

.button-link-close:hover {
    background-color: #555;
    transform: scale(1.05); /* Add a subtle hover effect */
}

/* Button group container styles */
.button-group {
    flex: 1;
    float: right;
}
.items-ordered-container {
    width: 33%;
    background-color: #f5f5f5; /* Dull background color */
    margin: 10px auto;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    align-items: center;
}

.items-ordered {
    width: 100%;
    list-style: none;
    padding: 3px 10%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: ;
}

.items-ordered li {
    padding: 5px;
}

/* Style the last item to remove the border */
.items-ordered li:last-child {
    border-bottom: none;
}
