.outer-container {
    background-color: #888888;
    gap: 10px;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
}
/* Style the container */
.container {
    background-color: #dddddd;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 100%;
    margin-top: 20;
    padding: 20px;
}

.customer-block {
    width: 90.66%;
    /*background-color: #f5f5f5; !* Dull background color *!*/
    margin-top: 10px ;
    margin-left: 40px ;
    margin-right: 10px ;
    /*border: 1px solid #ccc;*/
    box-shadow: 0 2px 4px rgba(123, 123, 123, 0.02);
    position: relative;
}
.customer-block-body {
    width: 90.66%;
    /*background-color: #f5f5f5; !* Dull background color *!*/
    margin-bottom: 20px ;
    margin-left: 40px ;
    margin-right: 10px ;
    /*background-color: rgba(204, 204, 204, 0.23);*/
    /*color: #111; !* Bright, creamy white text color *!*/
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    position: relative;
}

.customer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.customer-id-link{
    color: #111;
    text-decoration: none;
}


.customer-body-line1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.customer-body-line2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.button-link-customer-detail-view-link{
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    background-color: #5086b3;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    margin: 10px; /* Add space between buttons */
}
.button-link-customer-detail-view-link:hover {
    background-color: #0d42ec;
    transform: scale(1.05); /* Add a subtle hover effect */
}

.customer-body {
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.hidden{
    display: none;
}
.customer-details-section{
    background-color: #f0f0f0;
    color: #111; /* Bright, creamy white text color */
    margin: 30px;
    padding-top: 10px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.29);
}
/* Reset some default browser styles */
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}


.item {
    margin-right: 10px; /* Adds space to the right of each item */
}

/* Style the left block */
.left-block {
    background-color: #ddddd;
    flex: 1;
    padding: 20px;
    border-right: 1px solid #66666;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.item-list {
    margin-top: 10px;
}

/* Style the right block */
.right-block {
    background-color: #ffffff;
    width: 60%; /* Set your desired width */
    height: 70%; /* Set your desired height */
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

#selected-items {
    margin-top: 10px;
}

.selected-item-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.selected-item-container span {
    flex: 1;
}

.selected-item-container input[type="number"] {
    width: 60px;
    padding: 5px;
    margin-right: 10px;
}

.selected-item-container select {
    width: 80px;
    padding: 5px;
}

/* Style the submit button */
input[type="submit"] {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
