/* Style for the menu bar */
ul.menu-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #111; /* Menu bar background color */
    overflow: hidden;
}

/* Style for menu items */
ul.menu-bar li {
    font-weight: bold;
    float: left;
}

ul.menu-bar li a {
    display: block;
    font-weight: bold;
    color: white; /* Text color for menu items */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.menu-bar li a:hover {
    background-color: #555; /* Background color on hover */
}

/* Style for the final button */
.end-button {
    float: right;
    display: flex; /* Use flexbox for nested items */
    align-items: center; /* Center items vertically */
}

.logout-form {
    /* Add any styling for the form container here */
}

.user-name {
    font-weight: lighter;
    color: cornflowerblue;
    padding: 10px 20px;
    text-align: center;
    float: left;
}

.button {
    /* Your button styles */
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

/* Additional hover effect */
.button:hover {
    background-color: #0056b3;
}
.button-like-link {
    font-weight: bold;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Button background color */
    color: white; /* Button text color */
    text-decoration: none; /* Remove underlines from the link */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.button-like-link:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
