<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    meta charset="UTF-8">
    <title>Quick order</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/basic-page-layout.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/topsection.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/suborder.css}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>
<header>
    <div th:if="${topRole=='all'}">
        <div th:replace="~{fragments/topsection::menubar-all}">
            something
        </div>
    </div>
    <div th:if="${topRole=='admin'}">
        <div  th:replace="~{fragments/topsection::menubar-admin}">
            something
        </div>
    </div>
    <div th:if="${topRole=='customer'}" >
        <div th:replace="~{fragments/topsection::menubar-customer}">
            something
        </div>
    </div>
</header>

<main>
    <section class="scrollable">
        <!-- Scrollable Content Goes Here -->
        <div th:replace="~{fragments/suborder-form::suborder-items}">
            something
        </div>
        <!-- Repeat as needed -->
    </section>

</main>


</body>
</html>
